.topnav {
display: none;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;

}

body {
background-color: lightgray;
font-family: 'Times New Roman';
}

img {
max-width: 50%;
}

a {
text-decoration: none;
}

/*menu*/
.navbar {

justify-content: space-between;
align-items: center;
height: 70px;
position: fixed;
width:100%;
z-index: 1;
}

.logo {
height: 40px;
}

.logo-text {
white-space: nowrap;
padding: 1rem;
font-family: 'Times New Roman';
font-size: 1.0rem;
color: rgb(226, 238, 66);
}

.nav-item {
margin-top: 0rem;
margin-left: 10rem;
font-size: 1.5rem;
color: rgb(255, 255, 255);
white-space: nowrap;
}


.d-flex {
margin-left: 10rem;
display: none;
}

.btn {
margin-left: .4rem;
}


/*end of menu*/

/* Openning Statement*/
header {
height: 200px;
color: rgb(0, 0, 0);
text-align: center;
font-size: 1.2rem;
}

header h1 {
font-family: 'Times New Roman';
color: black;
text-align: center;
}

header p {
width: 70%;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
letter-spacing: 1px;
}

header p span {
border-bottom: 2px solid rgb(57, 176, 255);
line-height: 2;
color: black;
}

.border {
border-bottom: 3px solid rgb(55, 74, 241);
width: 50px;
margin-left: auto;
margin-right: auto;
}

/* ------------------end navbar---------------------------------- */




h1 {
text-align: center;
}

.firstp {
text-align: center;
}
.firsth1{
    text-align:center;
    padding:3rem;

}



/*end of statement*/

h3 {
text-align:center;
}
/*Newset Arrivals */

* {
box-sizing: border-box;
}

/* Slideshow container */
.slide-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
   
  
  }

/* Hide the images by default */
.mySlides1, .myslides2, .myslides3 {
display:none;
}

/* Next & previous buttons */
.prev,
.next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
background-color: rgba(0, 0, 0, 0.8);
}
/* Caption text */
.text {
color: black;
font-size: 15px;
padding: 8px 12px;
position: absolute;
margin-top:5px;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;

}
/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
margin-top:10px;
}
.active,
.dot:hover {
background-color: #717171;
}
/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 1.5s;
}
@keyframes fade {
from {
    opacity: .4
}

to {
    opacity: 1
}
}
.myslides{
    text-align:center;
}
.carousel-img{
    margin-left:15rem;
}

/*end of Newest Arrival */





/*Bottom Nav Footer*/
.nav-footer {
    font-family: 'Times New Roman';
    font-size: 1.2rem;
    font-weight: .3rem;
    margin-top: .4rem;
}

.footer1 {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0rem;
    width: 100%;
    height: 40px;
}

.navbar-text {
    font-family: 'Times New Roman';
    font-size: 1.2rem;
    padding: 1rem;
    margin-bottom: .3rem;
    color: white;
}

.social {
    margin-top: .4rem;
}

.footer {
    display: flex;

}

.socialul {
    display: flex;

}

.fa-brands {
    padding: 1rem;
    padding-top: 1rem
}

.nav-item {
    padding-top: 10px;
}

.fa-chevron-left {
    margin-top: 10rem;
    width: 5rem;
}

.right-arrow {
    margin-top: 10rem;
    width: 5rem;
}

.footer1 {
    display: flex;
    justify-content: space-between;
}


/* 
------about me----------- */

.image-container-div {
    display: flex;
}


.aboutme-col1 {
    width: 50%;
    text-align: center;
    background-color: darkgray;
    padding: 10px;
    margin-right: 50px;
    white-space: normal;
    margin-left: 50px;


}

.about-image-1 {
    width: 100%;
    max-width: 100px;
    height: auto;
}

.about-image-2 {
    width: 100%;
    max-width: 100px;
    height: auto;
}



.aboutme-p-wrapper {
    display: flex;

}

p {
    white-space: normal;
}

/* ---------------------Registration---------------------------- */

.login_form {
    text-align: center;
    padding: 50px;
    text-decoration:none;
}

.signup_form {
    padding: 50px;
    margin-left: 35%
}

.signup-form-wrapper{
    background-color:darkgray;
}

/* ----------------------login page--------------------------- */

.github-link, .google-link{
    color:white;
    
}
.github-link:hover, .google-link:hover{
    
    text-decoration:none;
}



/* --------------------==logout page -------------------------- */
.logout-card{
    margin:auto;
    width: 50%;
   
}

.card-body{
    text-align:center;
 
}


/* ----------------------Contactus----------------------------- */

.contactus{
    text-align: center;
    padding:50px;
    background-color:darkgray;
}


/* ---------------------Dashboard-------------------------- */
#dash-h1{
    border-bottom: 1px solid gray;
    padding:10px;
    
}


.dashboard-list{
    text-align:center;
    padding:10px;
}
.password-reset{
    text-decoration:none;
    color:black;
}
.password-reset:hover{
    color:darkgray;
}

.helptext{
    display:none;
}

.update{
    padding:10px;
    margin-bottom:5rem;
}

#id_password{
 
}
#id_username{
    margin:auto;
    width:20%;
    text-align: center;
}
#id_email{
    margin:auto;
    width:20%;
    text-align: center;
}
#id_last_name{
    margin:auto;
    width:20%;
    text-align: center;
}
#id_first_name{
    margin:auto;
    width:20%;
    text-align: center;
}

.label_class{
    text-align:center;
}
.form-group{
    text-align:center;
}

/* ---------------------Footer------------------------------- */

.nav-footer {
    font-family: 'Times New Roman';
    font-size: 1.2rem;
    font-weight: .3rem;
    margin-top: .4rem;
}
.footer1 {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0rem;
    width: 100%;
    height: 40px;
}

.navbar-text {
    font-family: 'Times New Roman';
    font-size: 1.2rem;
    padding: 1rem;
    margin-bottom: .3rem;
    color: white;
}

.social {
    margin-top: .4rem;
}

.footer{
    display:flex;
    
}
.socialul{
    display:flex;
    
}

.fa-brands{
    color: lightgray;
    padding:1rem;
    padding-top:1rem
 
}

.nav-item{
    padding-top:10px;
}

.fa-chevron-left{
    margin-top:10rem;
    width:5rem;
}
.right-arrow{
    margin-top:10rem;
    width:5rem;
}

.footer1{
    display:flex;
    justify-content: space-between;
}

@media screen and (max-width: 1251px) {

    /* ----------Index----------- */
    .navbar {
        display: none;
    }

    h1 {
        padding: 20px;
        width: 50%;
        margin-left: 12rem;
        margin-top:10rem;
    }

    .container-big {
        margin-left: 13rem;
    }

    .popular {
        margin-left: 5rem;


    }

    .col2 {
        margin-right: 13rem;
    }

    .container {
        width: 100%;


    }

    .flex-container {
        display: block;
    }

    .popular-h4 {
        margin-top: 5rem;
    }


    * {
        box-sizing: border-box;
    }

    /* Style the top navigation bar */
    .topnav {
        overflow: hidden;
        background-color: #333;
        display: block;
        width: 100%
    }

    /* Style the topnav links */
    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        float: none;
        width: 100%;
    }

    /* Change color on hover */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* ----------About----------- */

    .about-image-1 {
        width: 100%;
        margin: 0;
    }
    .aboutme-p-wrapper {
        display: block;
        margin-top: 15rem;
        text-align: center;
        margin-left: 15rem;
    }

    
    /* ----------------logged out page---------- */
    
    .card{
        margin-top:30%;
    }

    /* -------------Dashboard------------------ */
   
}