

{% extends 'base.html' %}

{% block title %}About Us{% endblock title %}


{% block content %}

    <body>
        <div class="aboutme-p-wrapper">
            <div class="aboutme-col1">
                <img class="about-image-2" src="/static/images/aboutmeimage.png" alt="">
                <h3>Eric </h3>
                
                <p id="about-p1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's</p>
            </div>

            
            <div class="aboutme-col1">
                <img class="about-image-1" src="/static/images/aboutmeimage.png" alt="">
                <h3>Antwone</h3>
                <p id="about-p2 ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry'sLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry'sLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's</p>
            </div>
        </div>
    </body>
    {% endblock content %}




</html>