{% extends 'base.html' %} {% load static %} {% static 'css/cart.css' %}
{% block title %} Shopping Cart {% endblock %}
<h1>Shopping Cart</h1>
<table class="cart">
<thread>
<tr>
    <th>Image</th>
    <th>Product</th>
    <th>Quanity</th>
    <th>Remove</th>
    <th>Unit Price</th>
    <th>Price</th>
</tr>
</thread>
<tbody>
{% for item in cart %} {% endfor %}
<tr>
    <td>
    <a href="{{ item.product.get_absolute_url }}">
        <img src="{% if item.product.image %}{{ item.product.image.url }} {% else %}
        {% static "images/no_image.png" %}{% endif %}">
    </a>
    </td>
    <td>{{ item.product.name }}</td>
    <td>
    <!-- <form action="{% url "cart:cart_add" product.id %}" method="post">  -->
    <form action="{% url 'cart:cart_add' item.product.id %}" method="post"> 
        {{ item.update_quanity_form.quanity }} 
        {{ item.update_quanity_form.override }}
        <input type="submit" value="Update" />
        {% csrf_token %}
    </form>
    </td>
    <td>
    <form action="" method="post">
        <input type="submit" value="Remove" />
        {% csrf_token %}
    </form>
    </td>
    <td class="num">USD{{ item.price }}</td>
    <td class="num">USD{{ item.total_price }}</td>
</tr>

<tr class="total">
    <td>Total</td>
    <td colspan="4"></td>
    <td class="num">USD{{ cart.get_total_price }}</td>
</tr>
</tbody>
</table>
<p class="text-right">
<a href="" class="buttonlight">Continue Shopping</a>
<a href="#" class="button">Checkout</a>
</p>

